section.repository-list {
  margin: 40px;

  div {
    background-color: #DBDBDB;
  }

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
  }

  li {
    
    & + li {
      margin-top: 20px;
    }

    p {
      font-size: 14px;
      color: #444;
      margin-top: 8px;
    }

    a {
      display: inline-block;
      width: 210px;
      padding: 15px 25px 15px;
      font-weight: 700;
      text-decoration: none;
      background: rgb(130, 87, 230);
      color: #FFFFFF;
      border-radius: 5px;
      margin: 12px 0 45px;
      transition: filter 0.2s;
    }

    a:hover {
      filter: brightness(0.9);

    }
  }
}